.container{
    width: 90%;
    margin: 1rem auto;
}
.section{
    margin: 0;
    padding: 0;
}
.hero-body{
    padding: 0.5rem 0.5rem;
    background-color: rgb(90, 162, 200);
    border-radius: 1rem;
}
.hero.is-primary .title {
    color: white;
}
.hero.is-primary{
    border-radius: 1rem;
    border: 1px solid white;
}

.title{
    font-size: 1.5rem;
    /* margin: .5rem; */
}

.level{
    margin: .3rem 0 0 0;
    margin-bottom: 0;
}

.button.is-link.is-outlined {
    text-align: center;
}

.table-box{
    max-width: 300px;
    overflow: scroll;
}
.admin_note{
    color: red;
    background: white;
    font-weight: bold;
    width: 280px;
    border-radius: 10px;
    margin: 0 auto;
}
.tabs{
    display: block;
}
.red{
    color: red;
}

.center{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}