* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    background: #3c8bec;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0px 0px 50px 0px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

.main-nav {
    display: inline-block;
    text-align: center;
    width: 950px;
    padding: 5px;
    /* width: calc(100% - 100px); */
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #2d2929;
    font-weight: bold;
    padding: 3px 0;
    margin-right: 10px
}

.main-nav__signin-status {
    text-decoration: none;
    color: #2d2929;
    font-weight: bold;
    padding: 3px 0;
    list-style: none;
    margin-left: 70px;
    text-align: right;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-header__brand:hover,
.main-header__brand:active {
    color: #2d2929;
    border-bottom: 5px solid #2d2929;
}
.main-header__right{
    text-align: right;
}

main{
    margin-top: 130px;
}

#main-router {
    background-color: grey;
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 20px; 
}
#main-header__link-list{
    display: block;
    margin: 5px, 30px, 0px, 0px;
}
.img-links{
    width: 20px;
    height: 20px;
    margin: 4px 8px 0px 8px;
    display: inline-block;
}
#holding-div{
    display: inline-block;
    width: 250px;
}
#hidden_holding_div{
    display: hidden;
    width: 150px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 0px;
}
/* #hidden_holding_div > p {
    display: none;
} */


@media (max-width: 25rem){
    .backdrop {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .toggle-button {
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
    }
    
    .toggle-button:focus {
        outline: none;
    }
    
    .toggle-button__bar {
        width: 100%;
        height: 0.2rem;
        background: black;
        display: block;
        margin: 0.6rem 0;
    }
    
    .modal {
        position: fixed;
        display: none;
        z-index: 200;
        top: 20%;
        left: 30%;
        width: 40%;
        background: white;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    
    .modal__title {
        text-align: center;
        margin: 0 0 1rem 0;
    }
    
    .modal__actions {
        text-align: center;
    }
    
    .modal__action {
        border: 1px solid #0e4f1f;
        background: #0e4f1f;
        text-decoration: none;
        color: white;
        font: inherit;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    .modal__action:hover,
    .modal__action:active {
        background: #2ddf5c;
        border-color: #2ddf5c;
    }
    
    .modal__action--negative {
        background: red;
        border-color: red;
    }
    
    .modal__action--negative:hover,
    .modal__action--negative:active {
        background: #ff5454;
        border-color: #ff5454;
    }
}