<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>David Wukelic's Project</title>
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    </head>

    <body>
        <div class="background"></div>
        <div *ngIf="backdropOn"class="backdrop"></div>
        <div *ngIf="modalOn" class="modal">
            <h1 class="modal__title">You need to sign in first. Proceed to sign in?</h1>
            <div class="modal__actions">
                <button (click)="signInswitch()" class="modal__action modal__action--negative" style="background-color: green; border-color:black" type="button">Yes!</button>
                <button (click)="turnOFFswitches()" class="modal__action modal__action--negative" type="button">No!</button>
            </div>
        </div>
        <header class="main-header">
            <div class="main-header__top">
                <button (click)="toggle()" class="toggle-button">
                    <span class="toggle-button__bar"></span>
                    <span class="toggle-button__bar"></span>
                    <span class="toggle-button__bar"></span>
                </button>
                <div class="main-header__links">
                    <!-- <div class="main-header__signin">
                        <li class="main-nav__signin-status main-nav__item">
                            <a (click)="signOut()" *ngIf="!signedIn">Sign Out</a>
                            <a (click)="signIn()" *ngIf="signedIn">Sign In</a>
                        </li>
                    </div> -->
                    <a [routerLink]="['/home']" class="main-header__brand">David Wukelic</a>
                    <nav class="main-nav">
                        <ul class="main-nav__items">
                            <li class="main-nav__item"><a [routerLink]="['/tasks']">Task Manager</a></li>
                            <li class="main-nav__item"><a [routerLink]="['/django']">Favorite Heroes</a></li>
                            <li class="main-nav__item"><a [routerLink]="['/weather']">Weather Forecast</a></li>
                            <li class="main-nav__item"><a [routerLink]="['/github']">GitHub Battle</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section id="main-router">
                <router-outlet></router-outlet>
            </section>
        </main>
    </body>
</html>
