html {
	background-color: #e3e3e3;
	overflow: auto;
}

.main {
	width: 100%;
	margin: 0 auto;
}
.container {
    width: 100%;
    margin: 0px;
}

.section{
    margin: 0;
    padding: 0;
}

.hero {
	/* border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
    box-shadow: 5px 5px 5px #cccc; */
    display: inline-block;
    width: 100%;
}

.tabs {
	margin-top: 10px;
}

.box {
    margin-top: .8rem;
    padding: 1rem;
	/* border-top-left-radius: 0px;
	border-top-right-radius: 0px; 
	box-shadow: 5px 5px 5px #cccc; */
}

.level-item{
    display: inline-block;
    text-align: left;
}

.input{
    text-align: center;
    margin-bottom: .5rem;
}

.level{
    margin: .3rem 0 0 0;
    margin-bottom: 0;
}

.button.is-link.is-outlined {
    text-align: center;
}


