.container{
    align-content: center;
    text-align: center;
    width: 100%;
}

.header{
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.header h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.header h4{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.main-top {
    width: 100%;
    margin: 10px;
}
.main-bottom p{
    color: white;
    font-size: 18px; 
}
.main-bottom h6{
    font-weight: bold;
    color: darkred;
    font-size: 25px; 
    margin: 75px 0px 0px 0px;
}
img{
    margin: 0px;
    padding: 0px;
}
.links{
    font-weight: bold;
}
/* .main-bottom__fieldset{
    width: 100%;
    border: 2px solid black;
} */
/* 
.main-top a {
    text-decoration: none;
    color: #2d2929;
    font-weight: bold;
    padding: 3px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.main-top a:hover,
.main-top a:active {
    color: white;
    border-bottom: 5px solid white;
} */