<div class="container">
    <header class="header">
        <h1 class="header__title">Full Stack Web Developer</h1>
        <h4 class="header__subtitle">Proficient in JavaScript and Python.</h4>
    </header>
    <main>
        <div class="main-top">
            <img class="profile-pic" src='https://avatars0.githubusercontent.com/u/36245241?s=460&v=4' alt="Profile Pic">
        </div>
    </main>
</div>
<a (mouseleave)="turnLinkHelpOff()" (mouseenter)="passLink('LinkedIn')" class="img-links linkedin__pic" href="https://www.linkedin.com/in/david-wukelic/" target="_blank"><img class="img-links" src="../../../assets/linkedIn.jpeg" alt="linkedin image/account"></a>
<a (mouseleave)="turnLinkHelpOff()" (mouseenter)="passLink('GitHub')" class="img-links github__pic" href="https://github.com/daveydog24" target="_blank"><img class="img-links" src="../../../assets/gitHub.gif" alt="github image/account"></a>
<a (mouseleave)="turnLinkHelpOff()" (mouseenter)="passLink('Stack Overflow')"class="img-links stackoverflow__pic" href="https://stackoverflow.com/story/david.wukelic" target="_blank"><img class="img-links" src="../../../assets/stackOverflow.png" alt="stackoverflow image/account"></a>
<a (mouseleave)="turnLinkHelpOff()" (mouseenter)="passLink('Resume')"class="img-links resume__pic" href="https://docs.google.com/document/d/19Z6BU3qxEmMyx--0J_DfTTq5ViLOl8bCo2ACbgL6eUo/edit?usp=sharing" target="_blank"><img class="img-links" src="../../../assets/Resume.png" alt="resume pdf"></a>
