<div class="container">
    <header class="header">
        <h1 class="header__title, laptop">Full-Stack Software Engineer</h1>
        <h1 class="header__title, phone">Full-Stack</h1>
        <h1 class="header__title, phone">Software Engineer</h1>
    </header>
    <main>
        <div class="picture-links">
            <img id="profile-image" class="profile-pic" src='https://avatars0.githubusercontent.com/u/36245241?s=460&v=4' alt="Profile Pic">
            <h4 class="header__subtitle">Proficient in JavaScript and Python.</h4>
            <div>
                <a (mouseleave)="turnLinkHelpOff('linkedIn')" (mouseenter)="turnOn('linkedIn')" class="img-links linkedin__pic" href="https://www.linkedin.com/in/david-wukelic/" target="_blank"><img class="img-links" src="../../../assets/linkedIn.jpeg" alt="linkedin image/account"></a>
                <p id="linkedIn">LinkedIn</p>
            </div>
            <div>
                <a (mouseleave)="turnLinkHelpOff('gitHub')" (mouseenter)="turnOn('gitHub')" class="img-links github__pic" href="https://github.com/daveydog24" target="_blank"><img class="img-links" src="../../../assets/gitHub.gif" alt="github image/account"></a>
                <p id="gitHub">GitHub</p>
            </div>
            <div>
                <a (mouseleave)="turnLinkHelpOff('stack_overflow')" (mouseenter)="turnOn('stack_overflow')"class="img-links stackoverflow__pic" href="https://stackoverflow.com/story/david.wukelic" target="_blank"><img class="img-links" src="../../../assets/stackOverflow.png" alt="stackoverflow image/account"></a>
                <p id="stack_overflow">Stack Overflow</p>
            </div>
            <div>
                <a (mouseleave)="turnLinkHelpOff('resume')" (mouseenter)="turnOn('resume')"class="img-links resume__pic" href="https://docs.google.com/document/d/19Z6BU3qxEmMyx--0J_DfTTq5ViLOl8bCo2ACbgL6eUo/edit?usp=sharing" target="_blank"><img class="img-links" src="../../../assets/Resume.png" alt="resume pdf"></a>
                <p id="resume">Resume</p>
            </div>
        </div>    
    </main>
</div>
