.container{
    align-content: center;
    text-align: center;
    width: 100%;
}

.header{
    width: 100%;
    margin: 0;
    padding: .2rem;
}

.header h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    /* text-shadow: grey 0.1em 0.1em 0.2em; */
    text-shadow: black 0.1em 0.1em 0.3em;
}
/* .header h4{
} */
.header__subtitle{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    /* text-shadow: grey 0.1em 0.1em 0.2em; */
    text-shadow: black 0.1em 0.1em 0.3em;

}

.main-top {
    width: 100%;
}
.main-bottom p{
    color: white;
    font-size: 1.1rem; 
}
.main-bottom h6{
    font-weight: bold;
    color: darkred;
    font-size: 1.2rem; 
    margin: .2rem 0 0 0;
}
.profile-pic{
    margin: 1.5rem auto;
    padding: 0;
    width: 60%;
    max-width: 300px;
    height: auto;
    display: block;
    border: 2px solid white;
    box-shadow: 3px -3px 1px 2px rgba(255, 255, 255, 0.7);
    border-radius: 1.8rem;
}

.profile-pic { 
    transition: all 3.0s ease-in-out 0s; 
}

.profile-pic:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 3.0s ease-in-out 0s;
}

.links{
    font-weight: bold;
}
.img-links{
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: inline-block;    
}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}
.picture-links div{
    display: inline-block;
    text-align: center;
    width: 3rem;
    margin: 1rem 1rem 0 1rem;
}
p{
    font-size: .8rem;
    color: white;
}


@media (min-width: 414px){
    .phone{
        display: none;
    }
}
@media (max-width: 414px){
    .phone{
        display: block;
    }
    .laptop{
        display: none;
    }
}
