.container{
    align-content: center;
    text-align: center;
    width: 100%;
}

.header{
    width: 100%;
    margin: 0;
    padding: .2rem;
}

.header h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    margin: .5rem 0;
}
.header h4{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.main-top {
    width: 100%;
}
.main-bottom p{
    color: white;
    font-size: 1.1rem; 
}
.main-bottom h6{
    font-weight: bold;
    color: darkred;
    font-size: 1.2rem; 
    margin: .2rem 0 0 0;
}
.profile-pic{
    margin: 2rem auto;
    padding: 0;
    width: 50%;
    max-width: 300px;
    height: auto;
    display: block;
}
.links{
    font-weight: bold;
}
.img-links{
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: inline-block;
}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}
.picture-links div{
    display: inline-block;
    text-align: center;
    width: 4rem;
    margin: 1rem;
}
p{
    font-size: 1rem;
    color: white;
}
