<div class="container">
    <header class="header">
        <h1 class="header__title">Full Stack Web Developer</h1>
        <h4 class="header__subtitle">Proficient in JavaScript and Python.</h4>
    </header>
    <main>
        <div class="main-top">
            <img class="profile-pic" src='https://avatars0.githubusercontent.com/u/36245241?s=460&v=4' alt="Profile Pic">
        </div>
        <div class="main-bottom">
            <p>I want to apologize this is not obviously finished but you can review my 
                code at <a class="links" target="_blank" href="https://github.com/daveydog24/Django_and_Angular"> (Portfolio's Code)</a> for a 
                more complete understaing of my code and the functionality. These are the projects: 
                <a class="links" target="_blank" href="https://github.com/daveydog24/Projects/tree/master/Projects">(Projects)</a> that I am working on
                incorporating and I will be adding session/security/admin privledges/etc. Lastly
                I will be styling the whole website but the recruiter thought it would be best to show 
                you that I do have extensive knowledge of these frameworks/routing/languages and database interaction.
            </p>
            <h6 *ngIf="errorSwitch"> You must Sign In to view all the pages!!</h6>
        </div>
    </main>
</div>
