<div id="wrapper">
    <h1 class="title"> Battle</h1>
    <div id="player1">
        <div id="form1" *ngIf="!formOneOFF"> <!-- is on initially but turns off once we find a valid user -->
            <h1 class="main_player">Player 1</h1>

            <!-- form for user1 -->
            <form (submit)="onSubmit1($event, userForm1)" #userForm1='ngForm'>
            <div>
                <label class="username" for="">GitHub Username:</label>
                <input 
                    name="name1" 
                    id="name1" 
                    type="text"
                    [(ngModel)]="user1" 
                    required
                    #username1="ngModel"
                >
            <!-- error message that will pop up if user 1 is not found -->
            <div 
                class="error" 
                *ngIf="user1NotFound"> GitHub user name not found, please choose another
            </div>
            </div>
                <button class="user_button" [disabled]="!userForm1.valid" >Get User</button>
            </form>
        </div>

        <!-- DIV to display user THAT TURNS ON ONCE THE FORM1 IS OFF and valid entry in found  -->
        <div id="user1Displayed" *ngIf="formOneOFF">
            <h2 class="player_tag">Player 1</h2>
            <h1>{{user1Name}}</h1>
            <div>
                <img class="player_img" src="{{user1Pic}}" alt="Player 1's profile_avatar image">
            </div>
        </div>
    </div>

    <!-- once form1 && form2 are valid and have turned on this will turn on -->
    <div id="battle" *ngIf="formOneOFF && formTwoOFF">
            <!-- once you click the button the battle starts -->
        <!-- <button (click)="battleTime()">BATTLE</button> -->
        <button (click)="battleTime()">Battle</button>
    </div>

    <div id="player2">
        <div id="form2" *ngIf="!formTwoOFF"><!-- is on initially but turns off once we find a valid user -->
            <h1 class="main_player">Player 2</h1>

            <!-- form for user2 -->
            <form (submit)="onSubmit2($event,userForm2)" #userForm2='ngForm'>
            <div>
                <label class="username" for="">GitHub Username:</label>
                <input 
                    name="name2" 
                    id="name2" 
                    type="text"
                    [(ngModel)]="user2" 
                    required
                    #username2="ngModel"
                >
            <!-- error message top pop up if user2 is not found -->
            <div 
                class="error" 
                *ngIf="user2NotFound"> GitHub user name not found, please choose another
            </div>
            </div>
                <button class="user_button" [disabled]="!userForm2.valid" >Get User</button>
            </form>
        </div>

        <!-- DIV THAT displays user 2 and TURNS ON ONCE THE FORM 2 IS OFF and a valid entry is found -->
        <div id="user2Displayed" *ngIf="formTwoOFF">
            <h2 class="player_tag">Player 2</h2>
            <h1>{{user2Name}}</h1>
            <div>
                <img class="player_img" src="{{user2Pic}}" alt="Player 2's profile_avatar image">
            </div>
        </div>
    </div>
</div>
