img{
    width: 100px;
    height: 100px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
    color: white;
}
.player{
    display: inline-block;
    margin: .3rem;
    padding: 10px;
    border: 1px solid white;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
}
.index{
    text-align: left;
    display: inline-block;
    font-size: 1rem;
    margin: .1rem;
}

.score{
    display: inline-block;
    margin: 0 0 0 .5rem;
    color: yellow;
    font-weight: bold;
}

.image{
    display: block;
    margin: .5rem;
}

.name{
    text-align: center;
    font-weight: bold;
}
