<div class="container">
    <header class="header">
        <h1 class="header__title">Weather Forecast</h1>
    </header>
    <main>
        <div class="main-top">
            <a (click)="burbank()">Burbank, CA</a> | 
            <a (click)="chicago()">Chicago, IL</a> | 
            <a (click)="dallas()">Dallas, TX</a> |
            <a (click)="oakland()">Oakland, CA</a> | 
            <a (click)="seattle()">Seattle, WA</a> | 
            <a (click)="washington_dc()">Washington D.C.</a>
        </div>
        <div class="main-bottom">
            <fieldset class="main-bottom__fieldset">
                <legend>City:</legend>
                <app-burbank *ngIf="Burbank"></app-burbank>
                <app-chicago *ngIf="Chicago"></app-chicago>
                <app-dallas *ngIf="Dallas"></app-dallas>
                <app-oakland *ngIf="Oakland"></app-oakland>
                <app-seattle *ngIf="Seattle"></app-seattle>
                <app-washington-dc *ngIf="Washington_DC"></app-washington-dc>
            </fieldset>
        </div>
    </main>
</div>
