*{
    color: white;
}
.container{
    align-content: center;
    text-align: center;
    width: 100%;
}

.header{
    width: 100%;
    margin: 0px;
    padding: 5px;
    /* background-color: red; */
}

.header h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    
}
.main-top {
    width: 100%;
    /* margin: 10px; */
}
.main-bottom__fieldset{
    width: 90%;
    border: 2px solid white;
    margin: 25px auto;
}

.main-top a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.main-top a:hover,
.main-top a:active {
    color: white;
    border-bottom: 5px solid white;
}