.table-box {
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.tags {
    cursor: pointer;
}
.is-light {
    background-color: #fff !important;
}
.tag.is-light {
    border: 1px solid #ccc;
}
/* .container{
    margin: 10px;
    padding: 10px;
} */

.container{
    width: 90%;
    margin: 2rem auto;
}
.section{
    margin: 0;
    padding: 0;
    border-radius: 1rem;
}
.hero-body{
    padding: 1rem 0.5rem;
    background-color: #3273dc;
}
.title{
    font-size: 1.5rem;
}


.container{
    width: 90%;
    margin: 1rem auto;
}
.section{
    margin: 0;
    padding: 0;
}
.hero-body{
    padding: 0.5rem 0.5rem;
    background-color: rgb(90, 162, 200);
    border-radius: 1rem;
}
.hero.is-primary .title {
    color: white;
}
.hero.is-primary{
    border-radius: 1rem;
    border: 1px solid white;
}

.title{
    font-size: 1.5rem;
}

.level{
    margin: .3rem 0 0 0;
    margin-bottom: 0;
}
.level-item{
    width: 90%;
    text-align: center;
}

.button.is-link.is-outlined {
    text-align: center;
    width: 85%;
}

.table_header{
    text-align: center;
}

.tag.is-light, .tag.is-danger{
    margin: 0 auto;
    width: 100%
}

.center{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.box{
    padding: 0;
}
.tag.is-success{
    margin: 0px;
}

.create-task, .create-task__button{
    display: block;
    width: 75%;
    margin: .5rem auto;
    max-width: 400px;
}

.task-input{
    display: block;
    width: 90%;
    margin: .5rem auto;
    max-width: 650px;
}

@media (min-width: 550px) and (max-width: 2500px) {
    .center, .tag {
        min-width: 10rem;
    }

}