<div class="container">
    <section class="section main">
        <div class="hero is-primary">
            <div class="hero-body is-bold" style="background-color: green">
                <h1 class="title">Success</h1>
            </div>
        </div>
        <div class="box">
            <div class="tabs is-centered is-boxed">
                <h1 *ngIf="registered"> You have Succesfully Registered!!!</h1>
                <h1 *ngIf="!registered"> You have Succesfully Logged In Welcome Back!!!</h1>
                <button (click)="signOut()">Sign out</button>
            </div>

            <div class="table-box">
                <h1> {{displayUser | json}}</h1>
                <table  class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th style="width: 25%">First Name</th>
                            <th style="width: 25%">Last Name</th>
                            <th style="width: 25%">Email</th>
                            <th style="width: 25%">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <br>
                        <h2>All other Users below</h2>
                        <tr *ngFor="let user of users">
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


<!-- <h1> You have Succesfully Logged In Welcome Back!!!</h1> -->
