<div *ngIf="buttonON" id="container">
    <div class="top">
        <h1 class="top_header"> GitHub Battle </h1> 
        <div class="top_choices">
            <a class="choice" [routerLink]="['battle']">Battle</a> | 
            <a class="choice" [routerLink]="['rankings']">Rankings</a>  
            <h3 class="rules">Score is assesed by amount of repos a user has and how many followers they have * 12</h3>
        </div>
    </div>
    <div id="bottom">
        <router-outlet ></router-outlet>
    </div>
</div>